*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
}

.crono{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.tiempo{
    font-size: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tiempo div{
    width: 80px;
    text-align: center;
}

.botonera{
    margin: 20px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botonera .boton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    cursor: pointer;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.botonera .boton:hover{
    box-shadow: 3px 3px 5px lightgray;
    font-weight: bold;
}

.botonera .boton.disabled{
    font-weight: normal;
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;
}