*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
}

.container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}