*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .containerBotones{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.containerImages{
    min-width: 300px;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.containerImages .imageWrapper{
    margin: 20px;
    width: 300px;
    aspect-ratio: 2/1.5;
    background-color: lightblue;
    overflow: hidden;
}

.containerImages .imageWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}