*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.main{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    width: 500px;
}

.resultado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.conversion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}