*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

ul{
    list-style: none;
}

#resultado{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
}

.tabla{
    border: 1px solid lightgray;
    width: 20%;
    margin: 20px;
}